Datos anteriores:

In [1]:
import pandas as pd

datos = pd.read_json("data/datos_hosting.json")
datos = pd.json_normalize(datos["info_inmuebles"])

In [3]:
datos.sample()

,evaluacion_general,experiencia_local,max_hospedes,descripcion_local,descripcion_vecindad,cantidad_baños,cantidad_cuartos,cantidad_camas,modelo_cama,comodidades,cuota_deposito,cuota_limpieza,precio
41,8.0,--,5,"[This home is full of light, art and comfort. ...",[Queen Anne is a charming and very safe neighb...,"[1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1]","[2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 1, 1, 2]","[2, 2, 2, 3, 2, 2, 2, 2, 4, 2, 4, 3, 2, 3, 3]","[Real Bed, Real Bed, Real Bed, Real Bed, Real ...","[{TV,""Cable TV"",Internet,Kitchen,""Free Parking...","[$0, $600.00, $400.00, $200.00, $200.00, $0, $...","[$89.00, $75.00, $100.00, $100.00, $95.00, $85...","[$109.00, $400.00, $300.00, $150.00, $145.00, ..."